<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220503759605-ad7rdhd5g3trbl61h8u3a1et3b7tshfu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220503759605-ad7rdhd5g3trbl61h8u3a1et3b7tshfu</string>
	<key>API_KEY</key>
	<string>AIzaSyCILGECz3qCJ6gOKgpS7dj8KOy_CXlJ6zY</string>
	<key>GCM_SENDER_ID</key>
	<string>220503759605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kirill.HostelNumberOneee</string>
	<key>PROJECT_ID</key>
	<string>hosteltree-9a5bd</string>
	<key>STORAGE_BUCKET</key>
	<string>hosteltree-9a5bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220503759605:ios:4c3531714eb0596952c3bc</string>
	<key>DATABASE_URL</key>
	<string>https://hosteltree-9a5bd.firebaseio.com</string>
</dict>
</plist>